<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a
      class="nav-link active"
      id="home-tab"
      data-toggle="tab"
      href="#home"
      role="tab"
      aria-controls="home"
      aria-selected="true"
      >Enviados Hoy - Enviadores</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      id="profile-tab"
      data-toggle="tab"
      href="#profile"
      role="tab"
      aria-controls="profile"
      aria-selected="false"
      >Envíos por fecha</a
    >
  </li>
</ul>

<div class="tab-content" id="myTabContent">
  <!-- Tab-Uno -->
  <div
    class="tab-pane fade show active"
    id="home"
    role="tabpanel"
    aria-labelledby="home-tab"
  >
    <!-- Enviadores API Free -->
    <table class="table table-sm table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Enviados</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Enviador de tickets</td>
          <td id="cant_tickets"></td>
          <td>
            <button
              type="button"
              class="btn btn-primary btn-sm"
              (click)="getTickets()"
            >
              <fa-icon [icon]="faRefresh"></fa-icon>
            </button>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Enviador de turnos No Asistidos</td>
          <td id="cant_noasistidos"></td>
          <td>
            <button
              type="button"
              class="btn btn-primary btn-sm"
              (click)="getNoAsistidos()"
            >
              <fa-icon [icon]="faRefresh"></fa-icon>
            </button>
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Enviador de turnos Sucursales 48hs</td>
          <td id="cant_sucursales48hs"></td>
          <td>
            <button
              type="button"
              class="btn btn-primary btn-sm"
              (click)="getSucursales48Hs()"
            >
              <fa-icon [icon]="faRefresh"></fa-icon>
            </button>
          </td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Enviador de Primera Consulta</td>
          <td id="cant_primeraConsulta"></td>
          <td>
            <button
              type="button"
              class="btn btn-primary btn-sm"
              (click)="getPrimeraConsulta()"
            >
              <fa-icon [icon]="faRefresh"></fa-icon>
            </button>
          </td>
        </tr>
        <tr>
          <th>#</th>
          <td class="text-right"><strong>Total:</strong></td>
          <td>
            {{
              cantTickets +
                cantNoAsistidos +
                cantSucursales48hs +
                cantPrimeraConsulta | currency : "" : "" : "1.0-0" : "es-PY"
            }}
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Tab-Dos -->
  <div
    class="tab-pane fade"
    id="profile"
    role="tabpanel"
    aria-labelledby="profile-tab"
  >
    <!--Filtros de la busqueda-->
    <div class="row" style="margin: 8px">
      <div class="col-md-7">
        <label class="col-form-label-sm">Enviadores</label>
        <ng-select
          [multiple]="true"
          (add)="addItem($event)"
          (remove)="deleteItem($event)"
          (clear)="deleteAllItems()"
          [selectableGroup]="true"
          groupBy="selectedAllGroup"
        >
          <ng-option *ngFor="let item of enviadores" [value]="item.nombre">{{
            item.nombre
          }}</ng-option>
        </ng-select>
      </div>
      <div class="col-md-2">
        <label class="col-form-label-sm">Fecha desde</label>
        <input
          id="fecha_desde"
          type="date"
          class="form-control"
          [(ngModel)]="fecha_desde"
        />
      </div>
      <div class="col-md-2">
        <label class="col-form-label-sm">Fecha hasta</label>
        <input id="fecha_hasta" type="date" class="form-control" />
      </div>
      <div style="padding-top: 37px">
        <button
          type="button"
          class="btn btn-outline-success"
          (click)="buscar()"
        >
          Buscar
        </button>
      </div>
    </div>

    <!--Resultado de la busqueda-->
    <table class="table table-sm table-hover">
      <thead class="thead">
        <tr>
          <th class="text-right" scope="col">Fecha</th>
          <th class="text-right" scope="col">Enviador Tickets</th>
          <th class="text-right" scope="col">Enviador No Asistidos</th>
          <th class="text-right" scope="col">Enviador Sucursales 48hs</th>
          <th class="text-right" scope="col">Enviador Primera Consulta</th>
        </tr>
      </thead>
      <tbody id="table-body" *ngIf="!loading">
        <tr *ngFor="let item of datosHistoricosTabla">
          <th class="text-right" scope="row">
            {{ item.fecha | date : "dd-MM-yyyy" }}
          </th>
          <td class="text-right">
            {{ item.tickets | currency : "" : "" : "1.0-0" : "es-PY" }}
          </td>
          <td class="text-right">
            {{ item.no_asistidos | currency : "" : "" : "1.0-0" : "es-PY" }}
          </td>
          <td class="text-right">
            {{ item.sucursales | currency : "" : "" : "1.0-0" : "es-PY" }}
          </td>
          <td class="text-right">
            {{ item.primera_consulta | currency : "" : "" : "1.0-0" : "es-PY" }}
          </td>
        </tr>
        <tr>
          <th class="text-right">Totales</th>
          <th class="text-right">
            {{ sumTotalTickets | currency : "" : "" : "1.0-0" : "es-PY" }}
          </th>
          <th class="text-right">
            {{ sumTotalNoAsistidos | currency : "" : "" : "1.0-0" : "es-PY" }}
          </th>
          <th class="text-right">
            {{ sumTotalSucursales | currency : "" : "" : "1.0-0" : "es-PY" }}
          </th>
          <th class="text-right">
            {{
              sumTotalPrimeraConsulta | currency : "" : "" : "1.0-0" : "es-PY"
            }}
          </th>
        </tr>

        <tr>
          <th></th>
          <th></th>
          <th class="text-center">
            Total General:
            {{
              sumTotalTickets +
              sumTotalNoAsistidos +
              sumTotalSucursales +
              sumTotalPrimeraConsulta | currency : "" : "" : "1.0-0" : "es-PY"
            }}
          </th>
          <th></th>
          <th></th>
        </tr>
        <!-- <button class="float">
          <fa-icon style="color: #28b463" [icon]="faFileExcel"></fa-icon>
        </button> -->
      </tbody>
    </table>


      <div class="col-md-12" id="spinner-historicos" *ngIf="loading">
        <div class="d-flex justify-content-center">
          <div class="spinner-border" role="status">
            <span class="visually-hidden"></span>
          </div>
        </div>
      </div>

  </div>
</div>
